// Fuente
$fuente: "Poppins", sans-serif;

// Query
$movil: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1200px;

// Color
$azul: #10439F;
$verde: #007F73;
$dark: #040D12;
$gris: #DDDDDD;
$negro: #000000;
$blanco: #FFFFFF;

$error: #990000;
$exito: #0C9463;
$aviso: #FF5B00;

// Estilo
$delgado: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;