@use 'base/variables' as v;
@use 'base/mixins' as m;

.header_admin {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;

   &__menu {
      color: v.$blanco;
      font-size: 2rem;

      &:hover {
         cursor: pointer;
      }
   }

   &__icono {
      color: v.$blanco;
   }

   &__perfil {
      display: flex;
      flex-direction: column;
      gap: 1rem;
   }

   &__informacion {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      color: v.$blanco;

      &:hover {
         cursor: pointer;
      }

      &::after {
         content: "";
         width: .6rem;
         height: .6rem;
         border-bottom: 2px solid v.$blanco;
         border-right: 2px solid v.$blanco;
         rotate: -45grad;
      }
   }

   &__icono {
      border: 1px solid v.$blanco;
      border-radius: 50%;
      padding: .4rem;
   }

   &__usuario {
      font-weight: v.$medium;
   }

   &__config {
      @include m.lista;
      @include m.sombra;
      position: absolute;
      background-color: darken(v.$gris, 10%);
      padding: 2rem;
      border-radius: 1rem;
      right: 0;
      z-index: 1;
      margin-top: 3.5rem;
   }

   &__item {
      margin-bottom: 1rem;

      &:last-of-type {
         margin-bottom: 0;
      }
   }

   &__enlace {
      color: v.$negro;
      display: flex;
      flex-direction: row;
      align-items: center;
   }

   &__icon {
      width: 2.5rem;
   }

   &__nombre {
      font-weight: v.$regular;
   }
}