@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar {
   background-color: darken(v.$azul, 15%);
   // width: 25rem;
   visibility: hidden;
   opacity: 0;
   width: 0;
   transition: visibility .5s linear, opacity .5s linear, width .5s linear;

   @include m.desktop {
      width: 25rem;
      visibility: visible;
      opacity: 1;
   }
   
   &--open {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      bottom: 0;
      visibility: visible;
      opacity: 1;
      width: 25rem;

      @include m.desktop {
         position: none;
         opacity: 0;
         width: 0;
         z-index: 0;
      }
   }

   &__cerrar-menuadmin {
      @include m.desktop {
         visibility: hidden;
         opacity: 0;
      }
   }

   &--close {
      display: none;
   }

   &__logo {
      display: flex;
      justify-content: space-between;
      padding: 1rem 2rem;
      color: v.$blanco;
      font-weight: v.$bold;
      align-items: center;
   }

   &__cerrar-menuadmin {
      font-size: 3rem;

      &:hover {
         cursor: pointer;
      }
   }
}

.menu_admin {
   @include m.lista;
   margin: 1rem;

   &__item {
      margin-bottom: 2rem;
   }

   &__enlace {
      color: darken(v.$blanco, 40%);
      font-weight: v.$medium;
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1rem;
      gap: 1rem;

      &:hover {
         cursor: pointer;
         color: v.$blanco;
      }
   }

   &__icono {
      &::after {
         content: "";
         width: .6rem;
         height: .6rem;
         border-bottom: 2px solid v.$blanco;
         border-right: 2px solid v.$blanco;
         rotate: -45grad;
         margin-right: .2rem;
      }
   }

   &__nombre {
      flex-grow: 1;
   }

   &__submenu {
      @include m.lista;
      padding-left: 2rem;
      font-size: 1.2rem;
      display: none;
   }

   &__open &__submenu {
      display: block;
   }

   &__open &__icono {
      &::after {
         rotate: 50grad;
      }
   }


}